@media screen and (min-width: 700px){
    header{
        background-color: rgb(63, 14, 91);
        color: white;
        font-family: sans-serif;
        border-radius:10px;
        grid-template-columns: 1fr 3fr;
        

    }

    .temples{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }


    .grid-container > div {
        
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

        }

    #toggleButton{
        display:none;
        }

    .mobile{
        
        display:none
        }

    .menu{

        background-color: rgb(63, 14, 91);
        border:none;
        display: inline;
        flex-direction: column;
        }
    
    
        
     
}
