@media screen and (min-width: 600px){
    header{
        background-color: rgb(63, 14, 91);
        color: white;
        font-family: sans-serif;
        border-radius:10px;
        grid-template-columns: 1fr 1fr;
        padding-right: 12px;

    }

    .temples{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }


    

    nav.menu {

        color: white;
        text-decoration: none;
        list-style: none;

      }

      

    .grid-container > div {
        
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

        }

    #toggleButton{
        display:none;
        }

    .mobile{
        
        display:none
        }

    .menu{
        display: flex;
        background-color: rgb(63, 14, 91);
        border:none;
        
        }
    
    
        
     
}
